TYPEORM_CONNECTION=postgres 
TYPEORM_HOST=localhost
TYPEORM_USERNAME=node-ts-skeleton
TYPEORM_DATABASE=node-ts-skeleton
TYPEORM_PASSWORD=D64kwj7Ec48QgpT
TYPEORM_PORT=5432
TYPEORM_ENTITIES=**/typeorm/entities/**-entity.js
TYPEORM_MIGRATIONS=**/typeorm/migrations/**-migration.js