<style>
  .message-content: {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Seja bem vindo de volta ao Node TS Sjeleton!</p>
  <p>Já esta quase tudo pronto com a sua conta!</p>
  <p>Mas para recuperar a sua senha, use o código abaixo.</p>
  <h1>{{token}}</h1>
  <p>
    Obrigado!<br />
    <strong>Equipe Node TS Sjeleton</strong>
  </p>
</div>